apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "endpoint": "http://localhost:15672",
      "username": "guest",
      "password": "guest"
    }
